.page-item a:hover {
    background-color: #007bff;
    color: white;
}

.stocks-top {
    color: #007bff;
}

.shift-left {
    margin-left: 1em;
}

.fa-1-5x {
    font-size: 1.5em;
}

.btn-primary {
 background-color: #007bff;
}